@model ReservasDeCine.Models.Funcion

@{
    ViewData["Title"] = "Alta de Función";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Alta de función</h5>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class='input-group date' id="Fecha">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" type="text" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hora" class="control-label"></label>
                        <input asp-for="Hora" class="form-control" />
                        <span asp-validation-for="Hora" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Confirmada" class="control-label"></label>
                        <input asp-for="Confirmada" class="form-control" />
                        <span asp-validation-for="Confirmada" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeliculaId" class="control-label"></label>
                        <select asp-for="PeliculaId" class="form-control selectpicker" asp-items="ViewBag.PeliculaId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="SalaId" class="control-label"></label>
                        <select asp-for="SalaId" class="form-control selectpicker" asp-items="ViewBag.SalaId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Confirmar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- Load jQuery and bootstrap datepicker scripts -->

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/moment.js/moment.min.js"></script>
    <script type="text/javascript" src="~/lib/moment.js/locale/es.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />

    <script type="text/javascript">
        $(document).ready(function () {

            $('#Fecha').datepicker({
                format: "dd/mm/yyyy",
                language: 'es',
                locale: 'es',
                autoclose: true,
                startDate: new Date(),
            });
        });
    </script>
}
