@model ReservasDeCine.Models.Reserva

@{ ViewData["Title"] = "Nueva Reserva"; }

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2>Crear nueva reserva</h2>
                <hr />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="PeliculasEnCartelera" class="control-label">Películas en cartelera</label>
                        <select asp-for="Funcion.PeliculaId" class="form-control selectpicker" asp-items="ViewBag.PeliculaId">
                            <option>Seleccione una película</option>
                        </select>
                    </div>
                    @{ 
                        // AR despues de mucho recorrer la red pude encontrar esta solucion
                        var minDate = DateTime.Now.Date.ToString("yyyy-MM-dd");
                        var maxDate = DateTime.Now.AddDays(7).Date.ToString("yyyy-MM-dd");
                    }
                    <div class="form-group">
                        <label for="Fecha" class="control-label"></label>
                        <input id="Fecha" type="date" min="@minDate" max="@maxDate" value="@minDate"class="form-control" />
                        <span validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CantidadButacas" class="control-label"></label>
                        <input asp-for="CantidadButacas" class="form-control" />
                        <span asp-validation-for="CantidadButacas" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="button" value="Buscar Función" class="btn btn-secondary" id="BotonBuscar" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FuncionId" class="control-label">Funciónes disponibles</label>
                        <select asp-for="FuncionId" class="form-control selectpicker" asp-items="ViewBag.Funcion" disabled>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Confirmar" class="btn btn-success" id="BotonConfirmar" disabled />
                        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

    <script type="text/javascript">

        $('#BotonBuscar').click(function () {

            // AR controlo que los parametros hayan sido elegidos
            if (document.getElementById("Funcion_PeliculaId").value == "Seleccione una película") {
                alert("Debe elegir la pelicula");
                return false;
            }
            if (document.getElementById("Fecha").value == "") {
                alert("Debe elegir la fecha");
                return false;
            }
            if (document.getElementById("CantidadButacas").value == "") {
                alert("Debe elegir la cantidad de butacas");
                return false;
            }

            //            alert(document.getElementById("Fecha").value);

            // AR Icono que gira mientras corre la funcion.
            $.LoadingOverlay("show");
            // AR despues lo completo con las funciones que me vienen del controller acorde a los parametros
            $.getJSON('/Reservas/CargaFunciones/' + $('#Funcion_PeliculaId').val() + '/' + $('#Fecha').val() + '/' + $('#CantidadButacas').val(),
                function (data) {
                    // AR me fijo si hay funciones, si no hay funciones mando un alerta y deshabilito el boton submit
                    if (data.length == 0) {
                        alert("No hay funciones disponibles !");
                        document.getElementById("FuncionId").setAttribute("disabled", "disabled");
                        document.getElementById("BotonConfirmar").setAttribute("disabled", "disabled");
                    } else {
                        // AR primero habilito el select y el boton confirmar
                        document.getElementById("FuncionId").removeAttribute("disabled");
                        document.getElementById("BotonConfirmar").removeAttribute("disabled");
                        var items = '<option>Seleccione una función</option>';
                        $.each(data, function (i, funciones) {

                            // AR Ver bien como es esta sentencia
                            items += "<option value='" + funciones.value + "'>" + funciones.text + "</option>";
                        });
                        $('#FuncionId').html(items);
                    }
                });
            $.LoadingOverlay("hide");
        });
    </script>
}