@model ReservasDeCine.Models.TipoSala

@{
    ViewData["Title"] = "Delete";
}


<div>
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h3>Queres eliminar este tipo de sala?</h3>
                <hr />
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Precio)
                    </dt>
                    <dd class="col-sm-5">
                        @Html.DisplayFor(model => model.Precio)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-info">Volver a la lista</a>
                </form>
            </div>
        </div>
    </div>
</div>